<% content_for :title, "Universal Credit - GOV.UK" %>

<div class="wrapper">
<div class="gem-c-step-nav-header" data-module="track-click">
  <span class="gem-c-step-nav-header__part-of">Part of</span>
    <a href="/how-to-claim-universal-credit" class="gem-c-step-nav-header__title" data-track-category="stepNavHeaderClicked" data-track-action="top" data-track-label="/how-to-claim-universal-credit" data-track-dimension="How to claim Universal Credit: step by step" data-track-dimension-index="29" data-track-options="{&quot;dimension96&quot; : &quot;7c08bbbf-a1ca-4cf5-850d-d9f2c796c750&quot; }">
      How to claim Universal Credit: step by step
    </a>
</div>
</div>

<main role="main" id="content" class="guide" lang="en" style="width:100%;">
  <div class="govuk-grid-column-two-thirds">
    <div class="gem-c-title gem-c-title--margin-bottom-5">
      <h1 class="gem-c-title__text ">
        Universal Credit
      </h1>
    </div>

    <aside class="part-navigation-container" role="complementary">
      <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ol class="gem-c-contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
            What Universal Credit is
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/universal-credit/eligibility" data-track-options="{&quot;dimension29&quot;:&quot;Eligibility&quot;}" href="/universal-credit/eligibility">Eligibility</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/universal-credit/what-youll-get" data-track-options="{&quot;dimension29&quot;:&quot;What you'll get&quot;}" href="/universal-credit/what-youll-get">What you'll get</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="/universal-credit/how-your-earnings-affect-your-payments" data-track-options="{&quot;dimension29&quot;:&quot;How your earnings affect your payments&quot;}" href="/universal-credit/how-your-earnings-affect-your-payments">How your earnings affect your payments</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="/universal-credit/how-youre-paid" data-track-options="{&quot;dimension29&quot;:&quot;How you're paid&quot;}" href="/universal-credit/how-youre-paid">How you're paid</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="/universal-credit/how-to-claim" data-track-options="{&quot;dimension29&quot;:&quot;How to claim&quot;}" href="/universal-credit/how-to-claim">How to claim</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="/universal-credit/get-an-advance-first-payment" data-track-options="{&quot;dimension29&quot;:&quot;Get an advance on your first payment&quot;}" href="/universal-credit/get-an-advance-first-payment">Get an advance on your first payment</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 8" data-track-label="/universal-credit/your-responsibilities" data-track-options="{&quot;dimension29&quot;:&quot;Your responsibilities&quot;}" href="/universal-credit/your-responsibilities">Your responsibilities</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 9" data-track-label="/universal-credit/changes-of-circumstances" data-track-options="{&quot;dimension29&quot;:&quot;Report a change of circumstances&quot;}" href="/universal-credit/changes-of-circumstances">Report a change of circumstances</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 10" data-track-label="/universal-credit/other-financial-support" data-track-options="{&quot;dimension29&quot;:&quot;Other financial support&quot;}" href="/universal-credit/other-financial-support">Other financial support</a>
          </li>
        </ol>
      </nav>
    </aside>

    <div>
      <h1 class="part-title" style="margin-top: 30px;border-top: 1px solid lightgrey;padding-top: 10px;margin-bottom: 10px;">
        What Universal Credit is
      </h1>


      <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
        <p>Universal Credit is a payment to help with your living costs. It’s paid monthly - or <a href="/universal-credit/how-youre-paid">twice a month for some people in Scotland</a>.</p>

        <p>You may be able to get it if you’re on a low income or out of work.</p>

        <div role="note" aria-label="Information" class="application-notice info-notice">
          <p>This guide is also available in <a href="/credyd-cynhwysol">Welsh (Cymraeg)</a>.</p>
        </div>

        <p>If you live in Northern Ireland, go to <a rel="external" href="https://www.nidirect.gov.uk/universalcredit">Universal Credit in Northern Ireland</a>.</p>

        <h2 id="if-you-already-get-benefits">If you already get benefits</h2>

        <p>Universal Credit will replace the following benefits:</p>

        <ul>
          <li>Child Tax Credit</li>
          <li>Housing Benefit</li>
          <li>Income Support</li>
          <li>income-based Jobseeker’s Allowance (JSA)</li>
          <li>income-related Employment and Support Allowance (ESA)</li>
          <li>Working Tax Credit</li>
        </ul>

        <p>If you currently receive any of these benefits, you cannot claim Universal Credit at the same time.</p>

        <p>Universal Credit is being introduced in stages across the UK. You do not need to do anything until you hear from the Department for Work and Pensions (DWP) about moving to Universal Credit, unless you have a change in circumstances.</p>

        <h3 id="severe-disability-premium">Severe disability premium</h3>

        <p>You cannot claim Universal Credit if you either:</p>

        <ul>
          <li>get the <a href="/disability-premiums-income-support">severe disability premium</a>,&nbsp;or are entitled to it</li>
          <li>got or were entitled to the severe disability premium in the last month, and you’re still eligible for it</li>
        </ul>

        <p>If you have a change of circumstances that affects the severe disability premium or your other benefits, report it and you’ll be told what to do next.</p>

        <h2 id="sign-in">Sign in</h2>
        <p><a href="/sign-in-universal-credit">Sign in to your Universal Credit account</a> if you already have one.</p>
      </div>


      <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
        <ul class="gem-c-pagination__list" data-module="track-click">
          <li class="gem-c-pagination__item gem-c-pagination__item--next">
            <a href="/universal-credit/eligibility" class="gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/universal-credit/eligibility" data-track-dimension="next" data-track-dimension-index="29">
              <span class="gem-c-pagination__link-title">
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="gem-c-pagination__link-text">
                  Next
                </span>
              </span>
                <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                <span class="gem-c-pagination__link-label">Eligibility</span>
            </a>
          </li>
        </ul>
      </nav>

      <div class="app-c-print-link">
        <a href="/universal-credit/print" class="app-c-print-link__link" rel="alternate">
          Print entire guide
        </a>
      </div>

    </div>
  </div>
</main>
