<div class="categories-lists">
  <ul class="categories-list">
    <li>
      <h3><a href="/browse/benefits">Something about Sonia</a></h3>
      <p>Something about Sonia</p>
    </li>
    <li>
      <h3><a href="/browse/births-deaths-marriages">Something about Sonia</a></h3>
      <p>Something about Sonia</p>
    </li>
    <li>
      <h3><a href="/browse/business">Something about Sonia</a></h3>
      <p>Something about Sonia</p>
    </li>
    <li>
      <h3><a href="/browse/childcare-parenting">Something about Sonia</a></h3>
      <p>Something about Sonia</p>
    </li>
    <li>
      <h3><a href="/browse/citizenship">Something about Sonia</a></h3>
      <p>Something about Sonia</p>
    </li>
    <li>
      <h3><a href="/browse/justice">Something about Sonia</a></h3>
      <p>Something about Sonia</p>
    </li>
  </ul>
  <ul class="categories-list">
    <li>
      <h3><a href="/browse/disabilities">Something about Sonia</a></h3>
      <p>Something about Sonia</p>
    </li>
    <li>
      <h3><a href="/browse/driving">Something about Sonia</a></h3>
      <p>Something about Sonia</p>
    </li>
    <li>
      <h3><a href="/browse/education">Something about Sonia</a></h3>
      <p>Something about Sonia</p>
    </li>
    <li>
      <h3><a href="/browse/employing-people">Something about Sonia</a></h3>
      <p>Something about Sonia</p>
    </li>
    <li>
      <h3><a href="/browse/environment-countryside">Something about Sonia</a></h3>
      <p>Something about Sonia</p>
    </li>
    <li>
      <h3><a href="/browse/housing-local-services">Something about Sonia</a></h3>
      <p>Something about Sonia</p>
    </li>
  </ul>
  <ul class="categories-list">
    <li>
      <h3><a href="/browse/tax">Something about Sonia</a></h3>
      <p>Something about Sonia</p>
    </li>
    <li>
      <h3><a href="/browse/abroad">Something about Sonia</a></h3>
      <p>Something about Sonia</p>
    </li>
    <li>
      <h3><a href="/browse/visas-immigration">Something about Sonia</a></h3>
      <p>Something about Sonia</p>
    </li>
    <li>
      <h3><a href="/browse/working">Something about Sonia</a></h3>
      <p>Something about Sonia</p>
    </li>
  </ul>
</div>
